.heading{
    font-size: 30px;
font-family: cursive;
font-weight: bold;
color: darkblue;
margin-top: 10px;
}
.margin-left {
    margin-left: 50px;
}
.sub-heading {
    font-size: 20px;
    font-family: cursive;
    color: darkgray;
   
}
.item{
    display: inline-block;
    height: 150px;
    width: 300px;
    border: solid 1px red;
    margin: 5px 60px 16px 0;
    box-shadow: 10px 10px 9px 3px red;
}
.item-left {
    display: inline-block;
    width: 50%;
}

.item-right {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding-top: 30px;
    padding-left: 10px;
}
.item-heading{
    font-family: cursive;
font-size: 20px;
color: darkblue;
font-weight: bold;
margin-bottom: 10px;

}
.item-sub-heading{
    font-family: cursive;
font-size: 15px;
color: darkgray;
margin-bottom: 10px;
}
.item_logo{
    height: 90px;
width: 90px;
background-color: white;
border-radius: 50%;
text-align: center;
font-size: 80px;
color: red;
margin-left: 35%;
}
.arrangement{
    position: absolute;
    right: 10px;
    left: 20%;
    top: 15%;
    bottom: 20px;
    font-size: 55px;
    color: white;
}
.dd{
    width: 160px;
height: 30px;
}
.search{
    width: 400px;
height: 30px;
}
